* {
   padding: 0px;
   margin: 0px;
}

body {
   color: #3a3a3a;
   line-height: 1.5rem;
   letter-spacing: 1px;
}

h1,
h2,
h3 {
   margin: 1rem 0;
}

a {
   text-decoration: none;
}

.spacer {
   /* margin: 2rem 0; */
   padding: 1rem 0;
}

.container {
   width: 100%;
   margin: 0 auto;
}

.navbar {
   display: flex;
   flex-direction: row;
   align-items: center;
   height: 2.5rem;
   width: 100%;
   background-color: #1e1e1e;
}

.logo {
   margin: 0 3rem;
   text-transform: uppercase;
   color: #f1af07;
}

.navbar-groups,
navbar-links {
   display: flex;
   flex-direction: row;
   list-style-type: none;
   color: #f2f2f2;
}

.navbar-links-item {
   margin-right: 3rem;
   color: white;
}

.navbar-links-item:visited {
   color: #e8e8e8;
}

.navbar-links-item:hover,
.navbar-links-item:active {
   color: #d5d5d5;
}

.dropdown {
   position: relative;
   display: inline-block;
}

.dropdown-content {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   box-shadow: 0px 8px 16px 0px #00000033;
   z-index: 1;
}

.dropdown:hover .dropdown-content {
   display: block;
   text-align: left;
}

.dropdown-links-item:link,
.dropdown-links-item:visited {
   text-decoration: none;
   white-space: nowrap;
   color: #515151;
   display: block;
   padding: .5rem 1rem .3rem 1rem;
}

.dropdown-links-item:hover,
.dropdown-links-item:active {
   color: #8e8e8e;
}

.slideshow {
   position: relative;
   margin: auto;
   text-align: center;
}

.slides img {
   width: 100%;
   height: 45rem;
   object-fit: cover;
   object-position: center;
}

.slides {
   display: none;
}

.nextprev {
   display: flex;
   justify-content: space-between;
}

.prev,
.next {
   cursor: pointer;
   position: absolute;
   top: 40%;
   width: auto;
   padding: 1.2rem;
   color: white;
   font-weight: bold;
   font-size: 1.6rem;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}

.prev:hover,
.next:hover {
   background-color: #000000cc;
}

.next {
   right: 0;
   border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
   color:#f1af07;;
   font-size: 1.2rem;
   width: 100%;
   margin-top: -3rem;
}

.numbertext {
   color: #f2f2f2;
   font-size: 1.3rem;
   position: absolute;
   top: 3rem;
}

/* The dots/bullets/indicators */
.dot {
   cursor: pointer;
   height: 1rem;
   width: 1rem;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
}

.active,
.dot:hover {
   background-color: #717171;
}

/* Fading animation */
.fade {
   animation-name: fade;
   animation-duration: 1.5s;
}

@keyframes fade {
   from {
      opacity: .4
   }

   to {
      opacity: 1
   }
}

/* The index page welcome text */
.welcome {
   margin: 0 3rem;
}


/* Footer section */
.footer-main {
   width: 100%;
   margin: auto;
   display: flex;
   flex-direction: column;
   background-color: #515151;
   color: #bbbbbb;
}

.footer-groups {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   margin: 1rem 0;
   /* border-top: 1px solid #bbbbbb; */
}

.footer-links {
   list-style-type: none;
}

.footer-links-item {
   text-decoration: none;
}

.footer-links-item:link,
.footer-links-item:visited {
   color: #bbbbbb;
}

.footer-links-item:hover,
.footer-links-item:active {
   color: #d5d5d5;
}

.copyright {
   text-align: center;
   margin: 3rem 0;
   border-top: 1px solid #8e8e8e;
   padding: 1rem 0;
}

/* End of footer */

/* Product Page Style Section */
.product {
   margin: 3rem;
}

.product-summary {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
}

.product-summary-group {
   flex-direction: column;
   margin-left: 1.3rem;
}

.product-summary-photo img {
   width: 40rem;
   object-fit: cover;
   margin-right: 1.5rem;
   border-radius: .8rem;
   box-shadow: 0px 8px 16px 0px #00000033;
}

.product-summary-text {
   display: flex;
   flex-direction: column;
   justify-content: left;
}

.date-available-group {
   /* display: none; */
   display: flex;
   flex-direction: row;
}

.date-available input {
   height: 1.3rem;
   width: 10rem;
   border-style: 1px solid #a7a7a7;
   border-radius: 5px;
   margin-right: 2rem;
}

.btn-check-submit {
   display: none;
}

.product-article {
   width: 100%;
   text-align: left;
   margin: 2rem 0;
}

.btn {
   border-radius: 8px;
   border-style: none;
   height: 1.8rem;
   font-size: 1rem;
   text-align: center;
}

.btn-check-availability, .btn-check-submit {
   width: 10rem;
   margin: 1rem 0;
   background-color: #f1af07;
   color: #ffffff;
}
   

/* End of product */

/* Help / Customer Services */
.help {
   display: flex;
   flex-direction: column;
}

.help-image {
   background-image: url("../imgs/help1.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   width: 100%;
   height: 40rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

.help-image-text {
   text-transform: uppercase;
   font-size: 2rem;
   color: #ffffff;
}

.help-subjects{
   margin: 2rem 3rem;
   text-align: center;
}

.help-subjects-section {
   display: flex;
   flex-direction: row;
   justify-content: space-evenly;
   padding: 1rem 0 2rem 0;
}

.cols {
   text-align: left;
}

/* End Help */