<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../assets/css/styles.css">
   <title>Book Hotel</title>
</head>

<body>

   <div class="container">
      <header class="header">
         <div class="navbar">
            <a href="index.html">
               <h1 class="logo">dvrn</h1>
            </a>
            <ul class="navbar-groups">
               <li class="navbar-links"><a class="navbar-links-item" href="index.html">Home</a></li>
               <div class="dropdown">
                  <li class="navbar-links"><a class="navbar-links-item" href="">Room</a></li>
                  <div class="dropdown-content">
                     <a class="dropdown-links-item" href="beachresort.html">Beach Front Room</a>
                     <a class="dropdown-links-item" href="mountainresort.html">Mountain Resort Room</a>
                     <a class="dropdown-links-item" href="snowresort.html">Ski Resort Room</a>
                  </div>
                  </li>
               </div>
               <li class="navbar-links"><a class="navbar-links-item" href="book.html">Book</a></li>
               <li class="navbar-links"><a class="navbar-links-item" href="help.html">Help</a></li>
            </ul>
         </div>
      </header>

      <div class="help">
         <div class="help-image">
            <span class="help-image-text">Customer Services</span>
         </div>
         <div class="help-subjects">
            <h1>Customer Services</h1>
            <div class="spacer"></div>
            <div class="help-subjects-section">
               <div class="cols">
                  <h3>Help Desk</h3>
                  <p>Call help desk at:</p>
                  <p>Toll Free: (800) 555-9989</p>
                  <p>International: (888) 887-8787</p>

               </div>
               <div class="cols">
                  <h3>Cancellation</h3>
                  <p>Return/Cancellation policy</p>
                  <p>Refund policy</p>
                  <p>Cencel Reservation</p>
               </div>
               <div class="cols">
                  <h3>Travel Info</h3>
                  <p>USA travel information</p>
                  <p>International travel guide</p>
               </div>
               <div class="cols">
                  <h3>Vacation Tips</h3>
                  <p>Summer Destinations</p>
                  <p>Winter Destinations</p>
               </div>
            </div>
         </div>
      </div>

   </div>

   <!-- <script src="../assets/js/slideshow.js"></script> -->

   <footer class="footer-main">
      <div class="footer-groups">
         <div class="cols">
            <h3>Booking</h3>
            <ul>
               <li class="footer-links"><a class="footer-links-item" href="#">Search by Location</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Top Destinations</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Book a Room</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Cancellation</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Rent a Car</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Tour Services</a></li>
            </ul>
         </div>
         <div class="cols">
            <h3>Get Help</h3>
            <ul>
               <li class="footer-links"><a class="footer-links-item" href="#">Search by Location</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Top Destinations</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Book a Room</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Cancellation</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Rent a Car</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Tour Services</a></li>
            </ul>
         </div>
         <div class="cols">
            <h3>Best Vacation Ideas</h3>
         </div>
      </div>
      <div class="copyright">
         <p>&copy; 2022 TN. All rights reserved</p>
      </div>
   </footer>
</body>

</html>