<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../assets/css/styles.css">
   <title>Book Hotel</title>
</head>

<body>

   <div class="container">
      <header class="header">
         <div class="navbar">
            <h1 class="logo">dvrn</h1>
            <ul class="navbar-links">
               <li class="navbar-links-item"><a href="index.html">Home</a></li>
               <li class="navbar-links-item"><a href="/book">Book</a></li>
               <div class="dropdown">
                  <li class="navbar-links-item"><a href="">Room</a></li>
                  <div class="dropdown-content">
                     <a class="dropdown-link" href="beachresort.html">Beach Front Room</a>
                     <a class="dropdown-link" href="mountainresort.html">Mount Resort Room</a>
                     <a class="dropdown-link" href="snowresort.html">Ski Resort Room</a>
                  </div>
                  </li>
               </div>
               <li class="navbar-links-item"><a href="about.html">About</a></li>
               <li class="navbar-links-item"><a href="contact.html">Contact</a></li>
            </ul>
         </div>
      </header>
      <div class="slideshow">
         <div class="slides fade">
            <div class="numbertext">1/5</div>
            <img src="../assets/imgs/image1.jpg" alt="">
            <div class="text">Caption Text</div>
         </div>
         <div class="slides fade">
            <div class="numbertext">2/5</div>
            <img src="../assets/imgs/image2.jpg" alt="">
            <div class="text">Caption Text</div>
         </div>
         <div class="slides fade">
            <div class="numbertext">3/5</div>
            <img src="../assets/imgs/image3.jpg" alt="">
            <div class="text">Caption Text</div>
         </div>
         <div class="slides fade">
            <div class="numbertext">4/5</div>
            <img src="../assets/imgs/image4.jpg" alt="">
            <div class="text">Caption Text</div>
         </div>
         <div class="slides fade">
            <div class="numbertext">5/5</div>
            <img src="../assets/imgs/image5.jpg" alt="">
            <div class="text">Caption Text</div>
         </div>

         <div class="nextprev">
            <a class="prev" onclick="plusSlides(-1)">❮</a>
            <a class="next" onclick="plusSlides(1)">❯</a>
         </div>

         <div class="slideshow-dots">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>
            <span class="dot" onclick="currentSlide(3)"></span>
            <span class="dot" onclick="currentSlide(4)"></span>
            <span class="dot" onclick="currentSlide(5)"></span>
         </div>
      </div>

      <div class="welcome">
         <h1>Welcome to Dream Vacation Resorts Network</h1>
         <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam maiores! Doloribus excepturi laboriosam odit quas. Beatae maiores ratione accusamus? Explicabo dolorem esse voluptas maxime fugiat, beatae dolores repellat necessitatibus!
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dolorum adipisci ratione deserunt maxime praesentium quidem atque, quasi iste ut, amet aliquid ab itaque tempora laborum eos similique, facere obcaecati.<br>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt neque unde sequi molestias hic, suscipit ut deleniti laboriosam dolore culpa quaerat ad animi dolor provident! Eveniet inventore dolore dolor.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur assumenda iure magnam ducimus unde dignissimos non ad ex hic, repellat molestiae sint praesentium autem quos. Aperiam laudantium nulla molestias tempore!

         </p>
      </div>

   </div>

   <script src="../assets/js/sliceshow.js"></script>
</body>

</html>