<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../assets/css/styles.css">
   <title>Book Hotel</title>
</head>

<body>

   <div class="container">
      <header class="header">
         <div class="navbar">
            <h1 class="logo">dvrn</h1>
            <ul class="navbar-groups">
               <li class="navbar-links"><a class="navbar-links-item" href="index.html">Home</a></li>
               <div class="dropdown">
                  <li class="navbar-links"><a class="navbar-links-item" href="">Room</a></li>
                  <div class="dropdown-content">
                     <a class="dropdown-links-item" href="beachresort.html">Beach Front Room</a>
                     <a class="dropdown-links-item" href="mountainresort.html">Mountain Resort Room</a>
                     <a class="dropdown-links-item" href="snowresort.html">Ski Resort Room</a>
                  </div>
                  </li>
               </div>
               <li class="navbar-links"><a class="navbar-links-item" href="book.html">Book</a></li>
               <li class="navbar-links"><a class="navbar-links-item" href="help.html">Help</a></li>
            </ul>
         </div>
      </header>
      <div class="product">
         <div class="product-summary">
            <div class="product-summary-photo">
               <img src="../assets/imgs/room4.jpg" alt="beach front room">
            </div>
            <div class="product-summary-group">
               <div class="product-summary-text">
                  <h1>Winter Ski Resorts</h1>
                  <span><strong>Bed:</strong> 2 Quen beds</span>
                  <span><strong>Bath:</strong> 1 full size bath</span>
                  <span><strong>Internet:</strong> Free WiFi Internet is available</span>
                  <span><strong>Smoking:</strong> None smoking</span>
                  <span><strong>Swimming Pool:</strong> Club house swimming pool available</span>
                  <span><strong>Parking:</strong> 1 Free parking per guest</span>
                  <span><strong>Price:</strong> Pricing information</span>
               </div>
               <div class="spacer"></div>
               <form action="reservation.html" method="get">
                  <div class="date-form date-form-disable">
                     <div class="date-form-group">
                        <label for="date-arrive"><strong>Check-in</strong></label><br>
                        <input type="date" id="date-arrive" name="date-arrive" required aria-describedby="dateArriveHelp"><br>
                        <small id="dateArriveHelp">Enter arrival date</small>
                     </div>
                     <div class="date-form-group">
                        <label for="date-departure"><strong>Check-out</strong></label><br>
                        <input type="date" id="date-departure" name="date-departure" required aria-describedby="dateArriveHelp"><br>
                        <small id="dateArriveHelp">Enter departure date</small>
                     </div>
                  </div>
                  <div class="button-group">
                     <input type="button" name="booknow" class="btn btn-check-availability" onclick="dateFormToggle()" value="Check Availability">
                     <input type="submit" name="booknow" class="btn btn-check-submit" value="Submit">
                  </div>
               </form>
            </div>
         </div>

         <div class="spacer"></div>

         <div class="product-article">
            <h2>Winter Ski Vacation Resorts </h2>
            <p>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos, magnam maiores! Doloribus excepturi laboriosam odit quas. Beatae maiores ratione accusamus? Explicabo dolorem esse voluptas maxime fugiat, beatae dolores repellat necessitatibus!
               Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod dolorum adipisci ratione deserunt maxime praesentium quidem atque, quasi iste ut, amet aliquid ab itaque tempora laborum eos similique, facere obcaecati.<br>
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim incidunt neque unde sequi molestias hic, suscipit ut deleniti laboriosam dolore culpa quaerat ad animi dolor provident! Eveniet inventore dolore dolor.
               Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur assumenda iure magnam ducimus unde dignissimos non ad ex hic, repellat molestiae sint praesentium autem quos. Aperiam laudantium nulla molestias tempore!

            </p>
         </div>
      </div>
   </div>

   <script src="../assets/js/slideshow.js"></script>

   <footer class="footer-main">
      <div class="footer-groups">
         <div class="cols">
            <h3>Booking</h3>
            <ul>
               <li class="footer-links"><a class="footer-links-item" href="#">Search by Location</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Top Destinations</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Book a Room</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Cancellation</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Rent a Car</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Tour Services</a></li>
            </ul>
         </div>
         <div class="cols">
            <h3>Get Help</h3>
            <ul>
               <li class="footer-links"><a class="footer-links-item" href="#">Search by Location</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Top Destinations</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Book a Room</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Cancellation</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Rent a Car</a></li>
               <li class="footer-links"><a class="footer-links-item" href="#">Tour Services</a></li>
            </ul>
         </div>
         <div class="cols">
            <h3>Best Vacation Ideas</h3>
         </div>
      </div>
      <div class="copyright">
         <p>&copy; 2022 TN. All rights reserved</p>
      </div>
   </footer>
</body>

</html>